:root {
  --white: #f7fff7;
  --red: #ff6b6b;
  --blue: #4ecdc4;
  --black: #292f36;
  --yellow: #ffe66d;
  --grey:#ebf3eb;
  --gradient: linear-gradient(to right, var(--red) 30%, var(--yellow));
  --gradient-ver-2: linear-gradient(to bottom, var(--red), var(--yellow));
  --header-height: 80px;
}

*{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;;
}

body {
  background-color: var(--white);
  height: 100svh;
}

.hidden {
  display: none;
}

#page-wrapper {
  display: grid;
  grid-template: 80px 1fr/ 250px 1fr;
  position: relative;
  height: 100%;
}

#add-button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-image:var(--gradient-ver-2);
  border: none;
  border-radius: 100%;
  cursor: pointer;
  color: var(--white);
  font-size: 2.3rem;
  height: 60px;
  transition: all .2s;
  width: 60px;
}

#add-button:active {
  transform: scale(.9) translateY(5px);
}

#add-button:focus {
  outline: none;
}

header {
  align-items: center;
  background-image: var(--gradient);
  color: var(--white);
  display: flex;
  grid-column: 1/3;
}

header div {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  width: 150px;
  margin-left: 3vw;
}

header img {
  height: 35px;
  width: 35px;
}

nav {
  background-color: var(--black);
  color: var(--white);
  padding-top: 20px;
}

#main-menu {
  list-style: none;
}

.nav-list-category, .nav-list-subcategory {
  align-items: center;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  cursor: pointer;
  word-break: break-word;
  display: flex;
  transition: all .15s;
  user-select: none;
}

.nav-list-category:hover, .nav-list-subcategory:hover {
  background-color: var(--blue);
}

.nav-list-category:active, .nav-list-subcategory:active {
  opacity: .8;
}

.nav-list-category {
  font-size: 1.5rem;
  height: 55px;
  margin: 15px 0 15px 30px;
}

.nav-list-subcategory {
  font-size: 1.3rem;
  justify-content: space-between;
  text-align: center;
  min-height: 45px;
  height: fit-content;
  margin: 15px 0 15px 35px;
}

.nav-list-subcategory div {
  align-items: center;
  display: flex;
}

.nav-list-subcategory i {
  height: 20px;
  margin: 0 7px;
  width: 20px;
}

.nav-list-category img, .nav-list-category i {
  height: 30px;
  margin: 0 10px;
  width: 30px;
}

#button-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

#new-project-button {
  background-color: var(--red);
  border: none;
  border-radius: 30px;
  color: var(--white);
  cursor: pointer;
  font-size: 1.1rem;
  padding: 15px 25px;
  transition: all .2s;
}

#new-project-button:active {
  transform: scale(.8);
}


/*Dialog*/

.add-modal {
  border: 2px solid var(--grey);
  background-color: var(--white);
  border-radius: 20px;
  height: 400px;
  margin: auto;
  width: clamp(400px,70%,550px);
}

#add-project-modal {
  height: 480px;
}

.dialog-wrapper {
  display: grid;
  grid-template: 70px 1fr/ 1fr;
  height: 100%;
  width: 100%;
}

.dialog-header {
  background-image: var(--gradient);
  grid-column: 1/3;
  color: var(--white);
  padding: 20px;
}

.dialog-wrapper form {
  padding: 10px 30px;
}

.dialog-wrapper input, .dialog-wrapper select, .dialog-wrapper textarea {
  border: 2px solid var(--grey);
  border-radius: 20px;
  width: 80%;
  padding: 8px;
}

#form-project-description {
  height: 60px;
}

.dialog-wrapper select {
  width: 20%;
}

.dialog-wrapper input:focus, .dialog-wrapper select:focus, .dialog-wrapper textarea:focus {
  outline: none;
  border: 2px solid var(--blue);
}

.dialog-wrapper input, .dialog-wrapper label, .dialog-wrapper textarea {
  display: block;
  margin: 5px 0;
}

.form-button {
  border: none;
  background-color: var(--red);
  border-radius: 20px;
  color: var(--white);
  cursor: pointer;
  font-size: 1rem;
  margin: 20px 10px;
  padding: 10px 20px;
  transition: all .2s;
}

.form-button:hover {
  opacity: .8;
}

.form-button:active {
  transform: scale(.9);
}

/*Main content*/

#content {
  margin: 20px 10vw;
}

#page-name {
  font-weight: 500;
  padding: 25px;
}

#project-description {
  word-break: break-word;
  width: 100%;
}

.main-wrapper {
  height: 100%;
}

.main-wrapper i {
  margin-right: 5px;
}

.main-wrapper ul li {
  border-left: 5px solid;
  border-bottom:2px solid var(--grey);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  list-style: none;
  margin: 25px 0;
  padding: 10px 15px;
  word-break: break-word;
  width: 100%;
}

.main-wrapper ul li img {
  margin: 0 5px;
  height: 22px;
  width: 22px;
}

.crossed-words {
  text-decoration: Line-through;
}

.main-wrapper ul li div {
  align-items: center;
  display: flex;
}

.main-wrapper ul li span {
  padding-right: 10px;
}

@media only screen and (max-width:1000px) {
  #page-wrapper {
    grid-template: 100px 380px 1fr/ 1fr;
  }

  header {
    grid-column: 1/1;
  }

  nav {
    padding-top: 0px;
  }

  .nav-list-category, .nav-list-subcategory {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 100%;
  }

  .nav-list-category {
    margin: 15px 0 15px 0px;
  }
  
  .nav-list-subcategory {
    margin: 15px 0 15px 0px;
  }

  #new-project-button {
    border-radius: 10px;
    width: 90%;
  }

  #content {
    margin: 20px 10vw 20px 2vw;
  }

  .main-wrapper ul li {
    margin: 25px 0;
    padding: 10px 0 10px 15px;
  }

  .main-wrapper ul li div:first-child {
    max-width: 60%;
  }
}